body{
  min-height: 100vh; /*it's gonna place it in the middle of the screen*/
  display: flex; justify-content: center; align-items: center;
  font-family:cursive;
  background-color: orange;
}
.colorBtn{
  padding: 0.25rem 0.5rem;
  border: 3px solid #fefefe;  border-radius: 7px;
  color: #fefefe; background: rgba(0,0,0,0.6);
  font-size: 1.5rem;  text-transform: capitalize; /*it capitalize all first letters*/
  cursor: pointer;
}
.colorBtn:hover{
  background: rgb(0,0,0);
}
